@model IEnumerable<DTOs.DTOArticulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
           
        </tr>
}
    </tbody>
</table>
