@model IEnumerable<DTOs.DTOCliente>

@{
    ViewData["Title"] = "Busqueda Clientes Monto";
}

<h1>Busqueda de Clientes</h1>
<span>@ViewBag.Mensaje</span>
<div class="row">
    <div class="col-md-4">
        <form asp-action="BusquedaClientesMonto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label form="rut">- Ingrese el RUT del Cliente </label>
                <input type="text" name="rut">
            </div>
            <br />
            <div class="form-group">
                <label form="razonSocial">- Ingrese la Razon Social</label>
                <input type="text" name="razonSocial">
            </div>
            <br />
            <div class="form-group">
                <label form="Monto">- Ingrese el Monto</label>
                <input type="number" name="monto">
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPuerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPuerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia)
            </td>
        </tr>
}
    </tbody>
</table>
