@model IEnumerable<DTOs.DTOPedidoSimple>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPrometida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IVA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPrometida)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.id">Anular</a>
            </td>
        </tr>
}
    </tbody>
</table>
